<html>
    <head>
        <title>templates is working</title>
    </head>
<body>
    <h1>Description</h1>
    <form action="/analyze" method="post">
        <textarea name="text"></textarea><br>
        <input type="checkbox" name="removepunc"> Remove Punctuations <br>
        <input type="checkbox" name="fullcaps"> Upper Case <br>
        <input type="checkbox" name="newlineremove"> remove new line <br>
        <input type="checkbox" name="spaceremove"> remove space <br>
        <input type="checkbox" name="charcount"> count character <br>
        <button type="submit">Analyze</button>
    </form>
</body>
</html>